# Copy these values to your Railway Project Settings
# Dashboard -> Select Service -> Variables -> Raw Editor

TELEGRAM_BOT_TOKEN=8311732539:AAF0cFAqU24ukYzaU6ki-draBemM9qT9FkM
TELEGRAM_CHAT_ID=6557625735
WALLET_ENCRYPTION_PASSWORD=Watermelon234$
ETH_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/UZjJh77tR8--c08MUZ3rc
# Optional but recommended
LOG_LEVEL=info
